<% layout('layouts/main') -%>

<div class="row">
	<div class="col-xs-12 col-md-4">
		
		<div class="card mb-3">
		  <img src="<%=user.gravatar(400)%>" class="card-img-top" alt="Gravatar">
		  <div class="card-header">
		    <h5 class="card-title m-0"><%=user.firstname%> <%=user.lastname%></h5>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Properties</h5>
		    <ul>
		    	<li><b>Email</b>: <%=user.email%></li>
		    	<li><b>Approved</b>: <%-user.isActive ? '<span class="badge badge-success">true</span>' : '<span class="badge badge-danger">false</span>' %></li>
		    	<li><b>Roles</b>: <%=user.roles.join(", ")%></li>
		    </ul>	
		    
		    <%if(user.hasRole('admin')){%>
		    	<a href="/manager/users/all" class="btn btn-success btn-block">Open manager</a>
		    <%}%>	    
		  </div>
		</div>
		
	</div>	
</div>






