<% layout('layouts/manager') -%>

<% include ../../includes/messages %>

<form method="post" action="/manager/users/password/save">
	<fieldset class="mb-4">
		<legend>
			User
		</legend>

		<ul class="list-group">
			<li class="list-group-item">
				<%=user.firstname%> <%=user.lastname%>
			</li>
			<li class="list-group-item">
				<a href="mailto:<%=user.email%>?subject=Password"><%=user.email%></a>
			</li>
		</ul>
	</fieldset>

	<fieldset>
		<legend>
			Settings
		</legend>

		<div class="form-group">
			<label>New password</label>
			<input type="text" class="form-control" name="password" value="" placeholder="Password" maxlength="50" autocomplete="off">
		</div>	
	</fieldset>

	<input type="hidden" name="id" value="<%=user.id%>" />
	<input class="btn btn-success" type="submit" value="Save" >

</form>
<script>document.querySelector(".link-users").classList.add("active");</script>