<% layout('layouts/manager') -%>

<% include ../../includes/messages %>

<form method="post" action="/manager/users/save">
	<fieldset>
		<legend>
			User
		</legend>

		<div class="form-group">
			<label>Firstname</label>
			<input type="text" class="form-control" name="firstname" value="<%=user.firstname || ''%>" placeholder="Jméno" maxlength="254" autocomplete="off">
		</div>

		<div class="form-group">
			<label>Lastname</label>
			<input type="text" class="form-control" name="lastname" value="<%=user.lastname|| ''%>" placeholder="Příjmení" maxlength="254" autocomplete="off">
		</div>

		<div class="form-group">
			<label>E-mail</label>
			<input type="email" class="form-control" name="email" value="<%=user.email|| ''%>" placeholder="E-mail" maxlength="254" autocomplete="off">
		</div>

		<div class="form-group form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" name="isActive" <%=user.isActive ? 'checked' : ''%> >
				is active</label>
		</div>
		
		<div class="form-group form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" name="isNotofication" <%=user.isNotofication ? 'checked' : ''%> >
				receive notifications</label>
		</div>

	</fieldset>

	<fieldset>
		<legend>
			Role
		</legend>
		<div class="form-group">
			<label>Roles</label>
			<input type="text" class="form-control" name="roles" value="<%=user.roles.join(",")%>" maxlength="254" autocomplete="off">
			<small class="form-text text-muted">Comma separated roles</small>
		</div>
	</fieldset>

	<input type="hidden" name="id" value="<%=user.id ? user.id : '' %>" />
	<input class="btn btn-success" type="submit" value="Save" >

</form>

<script>document.querySelector(".link-users").classList.add("active");</script>